body {
    background-color:#000;
}

h1 {
    font-size:24px;
    color:#aaaaaa;
}

h2 {
    font-size:14px;
    color:#32a1ce; 
}

h3 {
    font-size:12px;
    color:#aaaaaa;
}

p {
    font-size:8px;
    color:#aaaaaa; 
}

li {
    font-size:12px;
    color:#aaaaaa; 
}

.nav-link {
    color:#32a1ce;  
}

th {
 font-size:12px;
 color:#aaaaaa;
}

td {
 font-size:10px;
 color:#aaaaaa;
}
    

.leaflet-container {
    background-color:rgba(255,0,0,0.0);
    border:solid #32a1ce;
}
