<!doctype html>
<html lang="fr">
  <head>
    <title> Decov : un outil pour étudier les impacts sanitaires et économiques des politiques de déconfinement</title>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
	  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	  crossorigin=""/>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='deconf.css')}}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='menu_deconf.css')}}">

    <br>
    <h1 class="text-center"> Decov : un outil pour étudier les impacts sanitaires et économiques des politiques de déconfinement </h1>
    <hr>

    <!-- Navbar on the left -->
    <!-- Bootstrap row -->
    <div class="row" id="body-row">
        <!-- Sidebar -->
        <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
            <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
            <!-- Bootstrap List Group -->
            <ul class="list-group">
                <!-- Separator with title -->
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>Model</small>
                </li>
                <!-- /END Separator -->
                <!-- Menu with submenu -->
                <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-dashboard fa-fw mr-3"></span>
                        <span class="menu-collapsed">Parameters</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>
                <!-- Submenu content -->
                <div id='submenu1' class="collapse sidebar-submenu">
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">Chahgag</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">Reports</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">Tables</span>
                    </a>
                </div>
                <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-user fa-fw mr-3"></span>
                        <span class="menu-collapsed">Profile</span>
                        <span class="submenu-icon ml-auto"></span>
                    </div>
                </a>
                <!-- Submenu content -->
                <div id='submenu2' class="collapse sidebar-submenu">
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">Settings</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                        <span class="menu-collapsed">Password</span>
                    </a>
                </div>
                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-tasks fa-fw mr-3"></span>
                        <span class="menu-collapsed">Tasks</span>
                    </div>
                </a>
                <!-- Separator with title -->
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>Mesures</small>
                </li>
                <!-- /END Separator -->
                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-calendar fa-fw mr-3"></span>
                        <span class="menu-collapsed">Calendar</span>
                    </div>
                </a>
                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-envelope-o fa-fw mr-3"></span>
                        <span class="menu-collapsed">Messages <span class="badge badge-pill badge-primary ml-2">5</span></span>
                    </div>
                </a>
                <!-- Separator with title -->
                <li class="list-group-item sidebar-separator menu-collapsed">
                    <small>Stratégie</small>
                </li>
                <!-- /END Separator -->
                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-question fa-fw mr-3"></span>
                        <span class="menu-collapsed">Help</span>
                    </div>
                </a>
                <a href="#top" data-toggle="sidebar-colapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                        <span id="collapse-text" class="menu-collapsed">Collapse</span>
                    </div>
                </a>
            </ul><!-- List Group END-->
        </div><!-- sidebar-container END -->

        <!-- MAIN -->
        <div class="col p-4">
            <div class="container-fluid" style="margin-right:0px; padding-right:0px">
              <div class="row" style="margin-right:0px; padding-right:0px">
	            <div class="col-12 col-lg-3">
	              <h2 class="text-center"> Changer les mesures </h2>
	              <ul class="nav nav-tabs" id="tab-input" >
	                <li class="nav-item">
	                  <a class="nav-link active" id="regional-tab" href="#" data-toggle="tab">Régional</a>
	                </li>
	                <li class="nav-item">
	                  <a class="nav-link" id="national-tab" href="#" data-toggle="tab">National</a>
	                </li>
	              </ul>
	              
	              <table id="input-form">
	                <tr>
	                  <div class="input-group" style="width:100%">
		            <div class="input-group-prepend"  style="width:15%">
		              <div class="input-group-text" style="background-color:black; width:100%">
		                <input type="checkbox" id="form-school-closure" disabled checked autocomplete="off">
		              </div>
		            </div>
		            <span class="input-group-text" style="font-size:12px; background-color:black; width:85%;" > Ecoles fermées </span>
	                  </div>
	                </tr>
	                <tr>
	                  <div class="input-group" style="width:100%">
		            <div class="input-group-prepend"  style="width:15%">
		              <div class="input-group-text" style="background-color:black; width:100%">
		                <input type="checkbox" id="form-social-containment" disabled checked autocomplete="off">
		              </div>
		            </div>
		            <span class="input-group-text" style="font-size:12px; background-color:black; width:85%;" > Confinement social </span>
	                  </div>
	                </tr>
	                <tr>
	                  <div class="input-group" style="width:100%">
		            <div class="input-group-prepend"  style="width:15%">
		              <div class="input-group-text" style="background-color:black; width:100%">
		                <input type="checkbox" id="form-telecommuting" disabled checked autocomplete="off">
		              </div>
		            </div>
		            <span class="input-group-text" style="font-size:12px; background-color:black; width:85%;" > Télétravail </span>
	                  </div>
	                </tr>
	                <tr>
	                  <div class="input-group" style="width:100%">
		            <div class="input-group-prepend"  style="width:15%">
		              <div class="input-group-text" style="background-color:black; width:100%">
		                <input type="checkbox" id="form-risk-containment" disabled checked autocomplete="off">
		              </div>
		            </div>
		            <span class="input-group-text" style="font-size:12px; background-color:black; width:85%;" > Confinement personnes à risque </span>
	                  </div>
	                </tr>
	              </table>

	              <div>
	                <table style="width:100%;">
	                  <tr> <td> <button class="btn btn-info" style="width:100%; font-size:14px" id="input-sauver"> Enregistrer </button> </td>
		            <td> <button class="btn btn-info" style="width:100%; font-size:14px" id="input-annuler"> Annuler </button> </td> </tr>
	                  <tr> <td> <button class="btn btn-info" style="width:100%; font-size:14px" id="input-relancer"> Relancer </button></td>
		            <td> <button class="btn btn-info" style="width:100%; font-size:14px" id="input-reset"> Réinitialiser </button> </td></tr>
	                </table>
	              </div>


	              <br>
	              <h2 class="text-center"> Optimiser la stratégie </h2>
	              <div class="input-group" >
	                <div class="input-group-prepend" style="width:75%">
	                  <span class="input-group-text" id="basic-addon1" style="background-color:black; font-size:12px; width:100%"> Semaines de mesures </span>
	                </div>
	                <input type="text" class="form-control" value="{{optim_params.max_measure_weeks}} " aria-label="max" aria-describedby="basic-addon1" autocomplete="off" style="font-size:12px; width:15%" id="max_measure_weeks">
	              </div>
	              
	              <table>
	                {% for measure,value in optim_params.activable_measures.items() %}
	                <tr>
	                  <div class="input-group" style="width:100%">
		            <div class="input-group-prepend"  style="width:15%">
		              <div class="input-group-text" style="background-color:black; width:100%">
		                <input type="checkbox" id="{{ measure }}" {% if value %} checked {% else %} {% endif %} autocomplete="off">
		              </div>
		            </div>
		            <span class="input-group-text" style="font-size:12px; background-color:black; width:85%;" > {{ measure_names[measure] }} </span>
	                  </div>
	                </tr>
	                {% endfor %} 
	              </table>
	              <table style="width:100%;margin-top:10px">
	                <tr> <td> <button class="btn btn-info" style="width:100%; font-size:14px" id="optim-valider"> Lancer </button> </td>
	                  <td> <button class="btn btn-info" style="width:100%; font-size:14px" id="optim-annuler"> Annuler </button> </td> </tr>
	              </table>

                        <br><br>
	                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" style="width:100%">
	                  Changer les paramètres de la simulation
	                </button>

	                </div>

	                <div class="col-auto" style="height:700px">
	                  <div id="tester" style="width:700px; height:650px; margin: 0 auto; "></div>
	                  <p class="text-center" id="semaine-affiche" style="font-size:22px;"> Semaine 0 </p>
	                </div>

                    <div class="col-12 col-xl-3" >
	                      <h2 class="text-center"> Statistiques régionales </h2>
	                      <table class="table">
	                        <tr><th> Région </th><td id="nomregion" ></td></tr>
	                        <tr><th> Population  </th><td id="popregion" ></td></tr>
	                        <tr><th> Actifs </th><td id="popactiveregion" ></td></tr>
	                        <tr><td></td><td></td> </tr>
	                      </table>

	                      <ul class="nav nav-tabs" id="myTab" >
	                        <li class="nav-item">
	                          <a class="nav-link active" id="age-tab" href="#" data-toggle="tab">Age</a>
	                        </li>
	                        <li class="nav-item">
	                          <a class="nav-link" id="emploi-tab" href="#" data-toggle="tab">Emploi</a>
	                        </li>
	                      </ul>

        	          <div id="bargraph" style="height:300px"> </div>
	                </div>

                  </div>
                    <div class="row">
                      <div class="col-md-12">
	                      <div style="height:200px" id="frise"></div>
                      </div>
                    </div>


            <br>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Changer les paramètres de la simulation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container">
	          <div class="row">
	            <div class="col-6">
	              <table class="table table-bordered">
		        <tr> <th class="text-center" style="color:black;"> Paramètre </th><th class="text-center" style="color:black;"> Valeur </th>
		          {% for k,v in optim_params['compartmental_model_parameters'].items() %}
		        <tr>
		          <td class="text-center" ><span class="text-center" style="font-size:12px;color:black;" > {{ k }} </span></td>
		          <td><input autocomplete="off" type="text" id="{{ k }}" value="{{ v }}" style="font-size:10px; width:100%; margin:0"> </td>
		        </tr> 
		        {% if k=="nu" %}
	              </table><br>
	            </div>
	            <div class="col-6">
	              <table class="table table-bordered"> <tr> <th class="text-center" style="color:black;"> Paramètre </th><th class="text-center" style="color:black;"> Valeur </th>
		          {% endif %}
		          {% endfor %}
		        </tr>
	              </table>
	            </div>
	          </div>
	          <div class="row">
	            <div class="col-6">
	              <button class="btn btn-info" style="width:100%; font-size:14px" id="initial-valider" data-dismiss="modal"> Valider </button>
	            </div>
	            <div class="col-6">
	              <button class="btn btn-info" style="width:100%; font-size:14px" id="initial-annuler" data-dismiss="modal"> Annuler </button>
	            </div>
	          </div>
	        </div>
              </div>
            </div>
          </div>
        </div>

        </div><!-- Main Col END -->
    </div><!-- body-row END -->


    
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
	integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
	crossorigin=""></script>

{% autoescape false %}
<script>
  initial_data = {
    request_data: {{ req }},
    result_data : {{ res }},
    optim_params : {{ optim_params_json }}      
  }
</script>
{% endautoescape %}

<script src="{{ url_for('static', filename='rendering.js') }}">
</script>
<script src="{{ url_for('static', filename='menu_deconf.js')}}"> 
</script>
</body>

